@font-face{font-display:swap;font-family:barlow;font-weight:600;src:url(https://53842.spull.netcdn.net/fonts/barlow-600.ttf)}
@font-face{font-display:swap;font-family:barlow;font-weight:700;src:url(https://53842.spull.netcdn.net/fonts/barlow-700.ttf)}

.font-barlow{font-family:barlow}
.w600{font-weight:600;font-style:normal}
.w700{font-weight:700;font-style:normal}